<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Start Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let item of fakeData">
                <td scope="row">{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.startDate}}</td>
                <td class="d-flex gap-2" role="group"><!-- btn-group. Para no mostrar en mobile: none d-sm-block -->
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="onGoToSee(item)">View</button>
                    <button type="button" class="btn btn-outline-info btn-sm" (click)="onGoToEdit(item)">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDelete(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>